* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#contenido {
    display: flex;
    flex-direction: column;
}

div#contenido>header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 0px 5px grey
}

div#contenido>header>img#menuclick {
    cursor: pointer;
}

div#contenido>header>ul#menuEscritorio {
    display: none;
}

/*Menu desplegable*/


div#contenido>div#menu-desplegable {
    color: white;
    font-weight: bold;
    background-color: #085A8C;

}

div#contenido>div#menu-desplegable>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

div#contenido>div#menu-desplegable>ul>li {
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.s;
    width: 100%;
    text-align: center;
}

div#contenido>main {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2rem;
    border: 1px solid red;
}


div#contenido>main img {
    width: 100%;
    height: auto;
}

div#contenido>main .titulo {
    text-align: center;
    padding: 1rem;
    color: #085A8C;
    font-weight: bold;
}

div#contenido>main .texto {
    text-align: justify;
    text-align: center;
}

div#contenido>main>div#descripcion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 0.5rem;
    justify-content: space-evenly;
}

div#contenido>main>div#descripcion>h1 {
    flex: 0 100%;
}


div#contenido>main>div#descripcion>p {
   order: 2;
}

div#contenido>main>div#descripcion>div{
   
    order:1;
}




div#contenido>main>div#sliderPoli {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}



div#contenido>main>div#ventajas {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

div#contenido>main>div#ventajas>p {
    padding: 0.5rem;
}

div#contenido>main>div#productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

div#contenido>main>div#productos>div.item-producto {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

div#contenido>main>div#productos>div.item-producto>button.vermas {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #085A8C;
    font-weight: bold;
    background-color: white;
    border: 1px solid #085A8C;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
}

div#contenido>main>div#productos>div.item-producto>button.vermas:hover {
    color: white;
    background-color: #085A8C;
}

div#contenido>main>div#productos>div.item-producto>h3.tituloProducto {
    font-size: 17px;
    text-align: center;
    padding: 1rem 0;
}

div#contenido>main>div#productos>button#masproductos {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: #A656A0;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}

div#contenido>main>div#productos>button#masproductos:hover {
    background-color: #6b0262;
}

div#contenido>main>div#nosotros {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

div#contenido>main>div#nosotros>* {
    padding: 1rem 0rem;
}

div#contenido>main>div#nosotros>img {
    height: 400px;
}

div#contenido>main>div#nosotros>div#nosotrosTexto {
    display: flex;
    flex-direction: column;
}

div#contenido>main>div#nosotros>div#iconos {
    display: flex;
    flex-direction: column;
}

div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 0.5rem 0rem;
    justify-content: center;
    text-align: center;
}

div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>img {
    height: auto;
    width: 100px;
}

div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>div {
    flex: 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>div>p#experiencia {
    color: white;
    background-color: #6b0262;
    padding: 1rem 2.5rem;
    border-radius: 30px;
}

div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>div>p#profesionales {
    color: white;
    background-color: #085A8C;
    padding: 1rem;
    border-radius: 30px;
}

div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>div>p#materiales {
    color: white;
    background-color: #89A61F;
    padding: 1rem 1.5rem;
    border-radius: 30px;
}










div#contenido>main>div#donde-estamos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;

}

div#contenido>main>div#donde-estamos>div:nth-child(1) {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}


div#contenido>main>div#donde-estamos>div:nth-child(1)>h2 {
    text-align: center;
}

div#contenido>main>div#donde-estamos>#frameLocalizacion {
    width: 90%;

}





div#contenido>main>div#contacto {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

div#contenido>main>div#contacto>div#emailEscrito {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#contenido>main>div#contacto>div#emailEscrito>img {
    width: 30px;
    margin-right: 0.5rem;
}

div#contenido>main>div#contacto>form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

div#contenido>main>div#contacto>form>* {
    padding: 0.5rem 0rem;
}

div#contenido>main>div#contacto>form>label {
    font-weight: bold;
}

div#contenido>main>div#contacto>form>textarea {
    padding: 2rem 0;
}

div#contenido>main>div#contacto>form>button {
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    padding: 0.8rem;
    background-color: #A656A0;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

div#contenido>main>div#contacto>form>button:hover {
    background-color: #6b0262;
}

div#contenido>footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
}

div#contenido>footer>* {
    padding: 0.5rem 0;
    font-weight: bold;
}

div#contenido>footer>p#firma>a {
    color: #085A8C;
    text-decoration: none;
}


/*COLORES:

MORADO: #A656A0
AZUL: #085A8C
VERDE1: #89A61F
VERDE2: #92A649
*/

@media (min-width: 720px) {
    /*Redimension tablet*/

    div#contenido>main {
        align-self: center;
        max-width: 600px;

    }

}

/*ESTILOS ESCRITORIO*/

@media (min-width: 1024px) {
    /*Redimension ordenador*/

    div#contenido>main .texto {
        text-align: justify;
        text-align: center;
        font-size: 17px;
    }


    div#contenido>main .titulo {
        font-size: 30px;
        flex: 0 100%;
    }


    div#contenido>header>ul#menuEscritorio {
        display: flex;
        list-style: none;
        padding: 1rem;
    }

    div#contenido>header>ul#menuEscritorio li {
        border-bottom: 2px solid white;
    }

    div#contenido>header>ul#menuEscritorio li:hover {
        border-bottom: 2px solid #0684d3;
        /* Cambiar el color y grosor de la línea */
    }

    div#contenido>header>ul#menuEscritorio>li {
        display: flex;
        list-style: none;
        padding: 0rem 1rem;
        cursor: pointer;
        color: #085A8C;
        font-weight: bold;
    }

    div#contenido>header>img#menuclick {
        display: none;
    }

    div#contenido>header>img#logo {
        width: 100px;
    }

    div#contenido>main {
        align-self: center;
        max-width: 1500px;

    }

    div#contenido>main>div#descripcion>h1 {
        padding-bottom: 2rem;
        font-size: 30px;
    }

    div#contenido>main>div#descripcion>p {
        flex: 0 50%;
        order:1;
    }
    
    div#contenido>main>div#descripcion>div{
        flex: 0 40%;
        order:2;
    
    }
    

    div#contenido>main>div#ventajas {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 17px;
    }

    div#contenido>main>div#ventajas>h2 {
        padding-bottom: 2rem;
    }

    div#contenido>main>div#ventajas>p {
        flex: 0 48%;
    }


    div#contenido>main>div#productos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    div#contenido>main>div#productos>div.item-producto {
        flex: 0 30%;
    }



    div#contenido>main>div#nosotros {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 17px;
        align-items: center;

    }

    div#contenido>main>div#nosotros>img {
        flex: 0 42%;
    }

    div#contenido>main>div#nosotros>div#nosotrosTexto {
        flex: 0 54%;
    }

    div#contenido>main>div#nosotros>div#iconos {
        flex: 0 100%;
        padding-top: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }


    /*ICNOS NOSOTROS*/

    

    div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>div {
        flex: 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>div>p#experiencia {
        color: white;
        background-color: #6b0262;
        padding: 1rem 2.5rem;
        border-radius: 30px;
    }

    div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>div>p#profesionales {
        color: white;
        background-color: #085A8C;
        padding: 1rem;
        border-radius: 30px;
    }

    div#contenido>main>div#nosotros>div#iconos>div.iconosnosotros>div>p#materiales {
        color: white;
        background-color: #89A61F;
        padding: 1rem 1.5rem;
        border-radius: 30px;
    }














    div#contenido>main>div#contacto {
        align-items: center;
    }

    div#contenido>main>div#contacto>p {
        display: none;
    }

    div#contenido>main>div#contacto>form {
        padding-top: 1rem;
        width: 650px;
    }


}