* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div#contenido{
    display: flex;
    flex-direction: column;
}

div#contenido>header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

/*Menu desplegable*/
label>input#hamburguer-icon {
    display: none;
}

label {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: white;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

label>span.hamburguer-line {
    position: absolute;
    top: 1.75rem;
    left: 0.5rem;
    width: 1.5rem;
    height: 0.25rem;
    background: black;
    transition: background 0s .25s;
}

label>span.hamburguer-line:nth-child(2) {
    top: 1.3rem;
    transition: top .25s ease .25s, transform .25s ease 0s;
    /*para la vuelta*/
}

label>span.hamburguer-line:nth-child(4) {
    top: 2.2rem;
    transition: top .25s ease .25s, transform .25s ease 0s;
    /*para la vuelta*/
}

input#hamburguer-icon:checked~span.hamburguer-line:nth-child(2) {
    top: 1.75rem;
    /*primero se desplaza hacia el centro*/
    transform: rotate(45deg);
    /*después rota 45º*/
    transition-delay: 0s, .25s;
    /*primero se desplazan y luego giran*/
}

input#hamburguer-icon:checked~span.hamburguer-line:nth-child(4) {
    top: 1.75rem;
    /*primero se desplaza hacia el centro*/
    transform: rotate(-45deg);
    /*después rota 45º*/
    transition-delay: 0s, .25s;
    /*primero se desplazan y luego giran*/
}

input#hamburguer-icon:checked~span.hamburguer-line:nth-child(3) {
    background: none;
    /*La línea central pierde el color de fondo*/
}

div#contenido>main{
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2rem;
}


div#contenido>main img{
    width: 100%;
    height: auto;
}

div#contenido>main .titulo{
    text-align: center;
    padding: 1rem;
    color: #085A8C;
}

div#contenido>main .texto{
    text-align: justify;
}

div#contenido>main>div#ventajas{
    text-align: center;
    display: flex;
    flex-direction: column;
}

div#contenido>main>div#ventajas>p{
    padding: 0.5rem;
}

div#contenido>main>div#productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

div#contenido>main>div#productos>div.item-producto{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

div#contenido>main>div#productos>div.item-producto>h3.tituloProducto{
    font-size: 17px;
    text-align: center;
    padding: 1rem 0;
}

div#contenido>main>div#productos>button#masproductos{
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: #A656A0;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}

div#contenido>main>div#nosotros{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 1rem 0rem;
}

div#contenido>main>div#nosotros>*{
    padding: 1rem 0rem;
}

div#contenido>main>div#contacto{
    display: flex;
    flex-direction: column;
}

div#contenido>footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
}

div#contenido>footer>*{
    padding: 0.5rem 0;
    font-weight: bold;
}

div#contenido>footer>p#firma>a{
    color: #085A8C;
    text-decoration: none;
}


/*COLORES:

MORADO: #A656A0
AZUL: #085A8C
VERDE1: #89A61F
VERDE2: #92A649
*/